src/Menees.VsTools/Tasks/ScanInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ScanInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Style" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SingleLineDelimiter" type="xs:string" minOccurs="0" maxOccurs="2"/>
							<xs:element name="MultiLineDelimiter" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="Begin" type="xs:string" use="required" />
									<xs:attribute name="End" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Languages" type="xs:string" minOccurs="0"/>
							<xs:element name="Extensions" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="Binary" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Extensions" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>